# Dit is het Aan de slag met Ansible training ansible configuratiebestand
# De locatie van dit bestand is ~/ansible.cfg (iedere gebruiker heeft er eentje)
#
# Zie /etc/ansible/ansible.cfg voor informatie over het gebruik van dit bestand

[defaults]

inventory      = ~/hosts
host_key_checking = False
